.btn_primary {
    -fx-background-color: linear-gradient(to bottom right, #68d391, #4f46e5);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 4px;
    -fx-text-fill: #fff;
    -fx-border-color: transparent;
    -fx-padding: 10px 20px;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-border-radius: 4px;
    -fx-effect: null;
    -fx-transition-duration: 722ms;
}
.add_container {
    -fx-border-color: #ccc;
    -fx-border-width: 2px;
    -fx-border-radius: 12px;
    -fx-background-color: #FFF;
    -fx-margin: 150px 20px 100px 20px;
    -fx-padding: 15px;
    -fx-effect: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
    -fx-min-height: -fx-fit-content;
}

.form {
    -fx-border-radius: 12px;
    -fx-background-color: #FFF;
    -fx-padding: 8px;
    -fx-border-width: 1px;
    -fx-border-color: #ccc;
    -fx-border-style: solid;
}

.h2 {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-alignment: center;
    -fx-margin: 20px 0;
    -fx-text-align: left;
}

.btn_primary:hover {
    -fx-text-fill: #000;
}

.cancel:hover {
    -fx-background-color: linear-gradient(204deg, rgba(255,0,0,1) 8%, rgba(154,91,173,1) 98%);
    -fx-transition-duration: 722ms;
    -fx-translate-y: -4px;
}
